*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { 
  font-family: "GeorgianFont"; 
  src: url('assets/fonts/bpg_extrasquare_mtavruli_2009.ttf'); 
}
@font-face { 
  font-family: "EnglishFontLight"; 
  src: url('assets/fonts/AquireLight-YzE0o.otf'); 
}
@font-face { 
  font-family: "EnglishFontRegular"; 
  src: url('assets/fonts/Aquire-BW0ox.otf'); 
}
@font-face { 
  font-family: "EnglishFontBold"; 
  src: url('assets/fonts/AquireBold-8Ma60.otf'); 
}
@font-face { 
  font-family: 'NinoMtavruli'; 
  src: url('assets/fonts/bpg_nino_mtavruli_normal.ttf'); 
}